@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #318e4d;
  --color-secondary: #135426;
  --color-offWhite: #c4c4c4;
  --color-TextPrimary: #dceee2;
  --color-darkSecondary: #04170a;
}
:root {
  font-family: var(--font-poppins);
  color: var(--color-TextPrimary);
  background-color: var(--color-TextPrimary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  min-height: 100vh;
}
